* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #e2e2e2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.logo img {
    height: 40px;
    width: auto;
}

.icones {
    height: 20px;
    width: auto;
    color: #17927e;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

.hero {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    background-image:url('istockphoto-1406633276-612x612.jpg') ;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 30px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #0056b3;
}

.intro {
    background-color: #ffffff; 
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

h2 {
    font-size: 32px;
    color: #392A70;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center
}
p {
    font-size: 20px;
    color: #666;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    text-align: center
}

.intro-img {
    width: 600px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.olho {
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: #ececec;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 50px;
    object-fit: contain;
   
}


.titulolista {
    font-size: 25px; 
    text-align: justify;
    margin: auto;
}
.paragrafo {
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-weight: 200;
    line-height: 26px;
    
}
 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

.column {
    flex: 1;
    max-width: 300px;
    max-width: 250px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.video {
    background-color: #ececec;
    height: 600px;
}


 .paragrafo{
    font-size: 15px;
    color: #17927e;
 }